.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix

# Cursor rules
.cursorrules
.mdc

# Ignore everything in the private folder
/private/**

# Ignore everything in the myenv folder
/myenv/**

# Ignore everything in the specstory folder
/.specstory/

# Ignore everything in the private folder
/.cursor/**