.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix

build.sh

# IDE
.cursorrules
.mdc
.vscode/

# Ignore everything in the private folder
/private/**

# Ignore Python virtual environment
/.venv/**

# Ignore everything in the specstory folder
/.specstory/

# Ignore everything in the private folder
/.cursor/**