.quartz-author-name.author-name {
  max-width: var(--pageContentWidth);
  color: var(--dark);
  margin: 0.75rem 0rem;
  font-size: 1.1rem;
  font-weight: 300;
  text-align: center;
  transition: color 0.5s ease
}
