.backlinks-container {
  border: 1px solid var(--dark);
  background-color: var(--light);
  border-radius: 10px;
  padding: 1rem 1rem 1rem 1rem;
}

.backlinks {
  position: relative;
  text-align: left;

  & > h3 {
    font-size: 0.8rem;
    margin: 0;
  }

  & > ul {
    font-size: 0.8rem;
    list-style: none;
    padding: 0;
    margin: 0.5rem 0;

    & > li {
      & > a {
        font-size: 0.8rem;
        background-color: transparent;
      }
    }
  }
}
