* {
  transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease, fill 0.5s ease;
}

.darkmode {
  cursor: pointer;
  padding: 0;
  position: relative;
  background: none;
  border: none;
  width: 25px;
  height: 25px;
  margin: 0px 0px 0px 0px;
  text-align: inherit;

  & svg {
    position: absolute;
    width: 26px;
    height: 26px;
    padding: 0px 2px 0px 2px;
    top: -1px;
    fill: var(--dark);
    transition: opacity 0.1s ease;
  }

}

:root[saved-theme="dark"] {
  color-scheme: dark;
}

:root[saved-theme="light"] {
  color-scheme: light;
}

:root[saved-theme="dark"] .darkmode {
  & > #dayIcon {
    display: none;
  }
  & > #nightIcon {
    display: inline;
  }
}

:root .darkmode {
  & > #dayIcon {
    display: inline;
  }
  & > #nightIcon {
    display: none;
  }
}
