footer {
  position: relative;
  justify-content: center;
  text-align: center;
  padding-bottom: 0rem;
  bottom: 0;
  margin-top: -15.5rem;
  width: calc(748px - 3rem);
  left: 1.5rem;
  right: 1.5rem;
  background-color: var(--lightgray);
  border-top: 1px solid var(--dark);
  border-right: 1px solid var(--dark);
  border-left: 1px solid var(--dark);
  border-bottom: 0px solid var(--dark);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  @media only screen and (min-width: 1510px) {
    width: 750px;
    left: 0rem;
    right: 0rem; 
  }

  @media only screen and (max-width: calc(750px + 2rem)) {
    width: 100%;
    left: 0rem;
    right: 0rem;
  }

  & ul {
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0.5rem 0rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: -1rem;
  }
}



.nav-link {
  margin: 0rem;
  color: var(--dark);
  font-size: 0.8rem;
  font-weight: 300;
}
.nav-link:hover {
  color: black !important;
}
.nav-button {
  text-align: center;
  justify-content: center;
  padding: 0.1rem 0.75rem 0.2rem 0.75rem;
  margin: 0rem 0.6rem;
  border: 1px solid var(--dark);
  border-radius: 15px;
  background-color: var(--light);
}
.nav-button:hover {
  background-color: var(--tertiary);
  transition: all 0.1s;
}

.nav-button:hover .nav-link {
  color: black !important;
}
.nav-button:active {
  background-color: var(--secondary);
}
.footer-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--lightgray);
  border-top: 0px solid var(--dark);
  border-bottom: 1px solid var(--dark);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0.75rem 0rem;
}
