body .quartz-license-info.license-info {
    font-size: 0.8rem !important;
    color: var(--gray) !important;
    margin-top: 0rem !important;
    border-top: 0px solid var(--lightgray) !important;
    padding-top: 0rem !important;
    hyphens: none;
    overflow-wrap: break-word;
  }