body .quartz-license-info.license-info {
    position: relative;
    height: 100%;
    font-size: 0.8rem !important;
    line-height: 1.4rem !important;
    color: var(--dark) !important;
    background-color: var(--lightgray);
    font-weight: 200;
    margin: 2rem 0rem 0rem 0rem;
    padding: 1rem 1rem;
    border: 1px solid var(--gray);
    border-radius: 10px;
    hyphens: none;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    gap: 0rem;

    div {
        width: 100%;
        text-align: justify;
    }

    p {
        margin: 0;
        text-align: justify;
    }

    .license-icons {
        position: absolute;
        top: -11px;
        left: 20px;
        transform: none;
        background-color: transparent;
        padding: 0 10px;
        width: auto !important;
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        
        img {
            height: 20px;
            margin: 0px 8px 0px 0px !important;
            vertical-align: middle;
            border: 1px solid var(--gray);
            border-radius: 15px;

            &:last-child {
                margin-right: 0 !important;
            }

            @media screen and (max-width: 768px) {
                margin-bottom: 0 !important;
            }
        }
    }
}