body .quartz-license-info.license-info {
    height: 100%;
    font-size: 0.8rem !important;
    line-height: 1.4rem;
    color: var(--dark) !important;
    background-color: var(--lightgray);
    font-weight: 200;
    margin: 0rem 0rem;
    padding: 0.75rem 1rem;
    border: 1px solid var(--dark);
    border-radius: 10px;
    hyphens: none;
    overflow-wrap: break-word;
  }