@use "./base.scss";
@import "../components/styles/authorname.scss";
@import "../components/styles/publishdate.scss";
@import "../components/styles/licenseinfo.scss";

// put your custom CSS here!


@font-face {
    font-family: 'Geist Mono Regular';
    src: url('GeistMono-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

.test-box {
    background-color: red;
    border: 1px white solid;
    border-radius: 10px;
}


