@use "./base.scss";
@import "../components/styles/authorname.scss";
@import "../components/styles/publishdate.scss";
@import "../components/styles/licenseinfo.scss";

// put your custom CSS here!



.heading1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    margin: 1rem;
}

.body-p{
  text-align: justify;
  font-size: small;
  margin-left: 0rem;
  margin-right: 0rem;
  padding: 0rem;
  margin: 0rem;
}

.text-box{
  position: relative;
  background-color: var(--lightgray);
  border: 1px solid var(--dark);
  border-radius: 10px;
  padding: 1rem;
  overflow-x: hidden;
  z-index: 0;
}

.test-image-box{
  width: 300px;  /* or any desired width */
  height: 300px;
  position: relative;
  --light: red;
  --lightgray: blue;
  // background-image: url('https://mgogss5tjplk6loo44xiyhilk6euzgbx7mu52av7tzon5mmghvhq.arweave.net/YZxpS7NL1q8tzucujB0LV4lMmDf7Kd0Cv55c3rGGPU8');
  -webkit-mask-image: url('https://mgogss5tjplk6loo44xiyhilk6euzgbx7mu52av7tzon5mmghvhq.arweave.net/YZxpS7NL1q8tzucujB0LV4lMmDf7Kd0Cv55c3rGGPU8');
  mask-image: url('https://mgogss5tjplk6loo44xiyhilk6euzgbx7mu52av7tzon5mmghvhq.arweave.net/YZxpS7NL1q8tzucujB0LV4lMmDf7Kd0Cv55c3rGGPU8');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
  border: 1px solid var(--dark);
  border-radius: 10px;
  padding: 1rem;
  overflow-x: hidden;
}

.experience-box{
  position: relative;
  background-color: var(--lightgray);
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
  padding-left: 10px; 
  padding-right: 10px;
  overflow-x: hidden;
  z-index: 0;
}

.gallery-img {
  width: 100%;
  height: 100%;
  margin: 0rem;
  border: 1px solid var(--dark);
  border-radius: 0px;
  object-fit: cover;
}

.gallery3 {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, calc((100% - 3rem) / 3));
  grid-template-rows: repeat(infinite, 48%);
  justify-content: center;
  grid-row-gap: 1.5rem;
  grid-column-gap: 1.5rem;
  @media only screen and (max-width: 750px) {
    grid-template-columns: repeat(1, 100%);
    }
}

.gallery4 {
  display: grid;
  grid-template-columns: repeat(4, calc((100% - 4.5rem) / 4));
  grid-template-rows: repeat(infinite, 48%);
  width: 100%;
  justify-content: center;
  grid-row-gap: 1.5rem;
  grid-column-gap: 1.5rem;
  @media only screen and (max-width: 750px) {
  grid-template-columns: repeat(2, calc((100% - 1rem) / 2));
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  }
}


.gallery-tile-exp{
  display: flex;
  align-content: center;
  align-items: center;
  border: 1px solid var(--dark);
  border-radius: 10px;
  background-color: var(--secondary);
  margin: 0rem 0rem;
  text-align: center;
  overflow: hidden;
  transition: all 0.3s ease;
} 
.gallery-tile-exp:hover {
  background-color: var(--tertiary);
}
.gallery-tile-exp .body-p {
  font-size: 0.70rem !important;
  line-height: 20px;
  margin: 0rem;
  padding: 0rem;
  color: white !important;
}
.gallery-tile-exp:hover .body-p {
  color: black !important;
}
.gallery-tile-exp img {
  margin: 0rem 0rem 0rem 0rem;
  transition: all 0.3s ease;
  padding: 0.25rem
}
.gallery-tile-exp:hover img {
  filter: invert(100%);
}

.clinamenic-cube{
  display: flex;
  justify-content: center;
  height: 300px;
  animation: fade-in 3s ease-in;
  padding-top: 0rem;
  padding-bottom: 2rem;
}

.Clinamenic-Slide{
  padding: 0.5rem 1rem;
  height: 80px;
  width: 80px;
  margin: 0rem;
  cursor: default;
}

.tri-column{
  display: grid;
  grid-template-columns: calc((100% - 3rem) * 0.2) calc((100% - 3rem) * 0.6) calc((100% - 3rem) * 0.2);
  gap: 1.5rem;
}
@media only screen and (max-width: 830px) {
  .tri-column {
    grid-template-columns: 100%;
  }
}

.side-column{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media only screen and (max-width: 830px) {
  .side-column {
    display: none;
  }
}

.side-column #l1 {
  animation: slide-from-left 3s ease-in-out forwards;
}
.side-column #l2 {
  border: 0px;
  background-color: var(--light);
  animation: slide-from-left 3.5s ease-in-out forwards;
}
.side-column #l3 {
  animation: slide-from-left 4s ease-in-out forwards;
}
.side-column #l4 {
  animation: slide-from-left 4.5s ease-in-out forwards;
}
.side-column #r1 {
  animation: slide-from-right 3s ease-in-out forwards;
}
.side-column #r2 {
  animation: slide-from-right 3.5s ease-in-out forwards;
}
.side-column #r3 {
  border: 0px;
  background-color: var(--light);
  animation: slide-from-right 4s ease-in-out forwards;
}
.side-column #r4 {
  animation: slide-from-right 4.5s ease-in-out forwards;
}

.pdf-embed {
  width: calc(100% - 2px);
  height: 600px;
  border: 1px solid var(--dark);
  border-radius: 10px;
}

.newsletter{
  bottom: 0;
  display: grid;
  padding-left: 10px;
  padding-bottom: 0px;
}
@media only screen and (max-width: 830px) {
  .newsletter {
      display: none;
  }
}

#dynamicTextAlt{
  display: none;
  position: absolute;
  text-align: center;
  height: 20px;
  width: 275px;
  right: -6rem;
  top: 0.5rem;
  color: yellow;
  text-shadow:
    -1.5px -1.5px 0 black,
    1.5px -1.5px 0 black,
    -1.5px 1.5px 0 black,
    1.5px 1.5px 0 black;
  font-size: 0.75rem;
  font-family: 'Minecraft', sans-serif;
  letter-spacing: 3px;
  animation: text-pulse 1.8s ease-in-out infinite;
  transform: rotate(6deg);
  z-index: 1;
}
@media only screen and (max-width: 830px) {
  #dynamicTextAlt{
      display: none;
  }
}

.spacer10{
  height: 10px;
  width: 10px;
}

@keyframes slide-from-left {
  0% { opacity: 0%; transform: translateX(-250px); }
  100% { opacity: 100%; transform: translateX(0px); }
}

@keyframes slide-from-right {
  0% { opacity: 0%; transform: translateX(250px); }
  100% { opacity: 100%; transform: translateX(0px); }
}



@keyframes fade-in {
  0%{ opacity: 0%; }
  100%{ opacity: 100%; } 
}
@keyframes fade-up {
  0%{ opacity: 0%; transform:translateY(25px)}
  100%{ opacity: 100%; transform:translateY(0px)} 
}
@keyframes fade-down {
  0%{ opacity: 0%; transform:translateY(-25px)}
  100%{ opacity: 100%; transform:translateY(0px)} 
}


@keyframes text-pulse {
  0%{ font-size: 0.9rem; }
  50%{ font-size: 1.2rem; } 
  100%{ font-size: 0.9rem; }
}

@keyframes slide-up {
  0% { transform: translateY(-250px); }
  100% { transform: translateY(0px); }
}